@font-face {
font-family: 'RodchenkoCEH';
src: url('https://github.com/ceh-product/cehsites/raw/main/RodchenkoCEH-Bold.woff') format('woff');
font-weight: 700;
font-style: bold;
}
@font-face {
font-family: 'RodchenkoCEH';
src: url('https://github.com/ceh-product/cehsites/raw/main/RodchenkoCEH-Light.woff') format('woff');
font-weight: 300;
font-style: normal;
}
@font-face {
font-family: 'RodchenkoCEH';
src: url('https://github.com/ceh-product/cehsites/raw/main/RodchenkoCEH-Regular.woff') format('woff');
font-weight: 500;
font-style: medium;
}
@font-face {
font-family: 'CMU Typewriter Text';
src: url('https://github.com/ceh-product/cehsites/raw/main/AnyConv.com__CMU_Typewriter_Text_Bold.woff') format('woff');
font-weight: 700;
font-style: bold;
}
@font-face {
font-family: 'CMU Typewriter Text';
src: url('https://github.com/ceh-product/cehsites/raw/main/AnyConv.com__CMU_Typewriter_Text_Light.woff') format('woff');
font-weight: 300;
font-style: normal;
}
@font-face {
font-family: 'CMU Typewriter Text';
src: url('https://github.com/ceh-product/cehsites/raw/main/AnyConv.com__CMU_Typewriter_Text_Regular.woff') format('woff');
font-weight: 500;
font-style: medium;
}
